<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       ">

    <context:component-scan base-package="org.motechproject.admin.security">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:component-scan base-package="org.motechproject.admin.core">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:component-scan base-package="org.motechproject.admin.server">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <import resource="blueprint.xml"/>
    <import resource="securityContext.xml"/>
    <import resource="applicationAdmin.xml"/>
    <import resource="applicationWebSecurityContext.xml"/>

    <bean id="webSecurityDbConnector" factory-bean="couchDbManager" factory-method="getConnector">
        <constructor-arg value="motech-web-security"/>
    </bean>

    <bean id="adminDbConnector" factory-bean="couchDbManager" factory-method="getConnector">
        <constructor-arg value="motech-admin"/>
    </bean>

    <bean id="settingsDbConnector" factory-bean="couchDbManager" factory-method="getConnector">
        <constructor-arg value="motech-platform-startup"/>
    </bean>

    <bean id="jmxSettings" class="org.motechproject.server.config.SettingsFacade" autowire="byType">
        <property name="configFiles">
            <list>
                <value>classpath:jmx.properties</value>
            </list>
        </property>
        <property name="moduleName" value="admin.module"/>
    </bean>


    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <value>
                resource.loader=class
                class.resource.loader.class=org.motechproject.admin.core.email.BundleResourceLoader
            </value>
        </property>
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="localhost"/>
        <property name="port" value="25"/>
    </bean>


    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"/>

    <bean id="cookieLocaleResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="userLang"/>
        <property name="cookieMaxAge" value="100000"/>
    </bean>

    <bean id="currentTenant" class="org.motechproject.commons.api.Tenant" factory-method="current"/>

    <bean id="adminModuleRegistrationData" class="org.motechproject.osgi.web.ModuleRegistrationData">
        <constructor-arg name="url" value="resources/partials/admin.html"/>
        <constructor-arg name="moduleName" value="admin.module"/>
        <constructor-arg name="angularModules">
            <list>
                <value>motech-admin</value>
            </list>
        </constructor-arg>
        <constructor-arg name="i18n">
            <map>
                <entry key="messages" value="resources/messages/"/>
            </map>
        </constructor-arg>
        <constructor-arg name="header" ref="header"/>
        <property name="subMenu">
            <map>
                <entry key="admin.manageModules" value="#/bundles"/>
                <entry key="admin.messages" value="#/messages"/>
                <entry key="admin.settings" value="#/platform-settings"/>
                <entry key="admin.log" value="#/log"/>
                <entry key="admin.queues" value="#/queues"/>
            </map>
        </property>
    </bean>

    <bean id="header" class="org.motechproject.osgi.web.Header"/>


</beans>
