<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       ">

    <context:component-scan base-package="org.motechproject.admin.security">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:component-scan base-package="org.motechproject.admin.core">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:component-scan base-package="org.motechproject.admin.server">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <import resource="blueprint.xml"/>
    <import resource="securityContext.xml"/>
    <import resource="applicationAdmin.xml"/>
    <import resource="applicationWebSecurityContext.xml"/>

    <bean id="webSecurityDbConnector" factory-bean="couchDbManager" factory-method="getConnector">
        <constructor-arg value="motech-web-security"/>
    </bean>

    <bean id="adminDbConnector" factory-bean="couchDbManager" factory-method="getConnector">
        <constructor-arg value="motech-admin"/>
    </bean>

    <bean id="settingsDbConnector" factory-bean="couchDbManager" factory-method="getConnector">
        <constructor-arg value="motech-platform-startup"/>
    </bean>

    <bean id="jmxSettings" class="org.motechproject.server.config.SettingsFacade" autowire="byType">
        <property name="configFiles">
            <list>
                <value>classpath:jmx.properties</value>
            </list>
        </property>
        <property name="moduleName" value="admin.module"/>
    </bean>


    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <value>
                resource.loader=class
                class.resource.loader.class=org.motechproject.admin.core.email.BundleResourceLoader
            </value>
        </property>
    </bean>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="localhost"/>
        <property name="port" value="25"/>
    </bean>


    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list value-type="java.lang.String">
                <value>/resources/messages/messages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="fallbackToSystemLocale" value="false"/>
    </bean>

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"/>

    <bean id="cookieLocaleResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="userLang"/>
        <property name="cookieMaxAge" value="100000"/>
    </bean>

    <bean id="currentTenant" class="org.motechproject.commons.api.Tenant" factory-method="current"/>


</beans>
